<!DOCTYPE html>
<html lang="en" ng-app="SleepScoreApp">
	<head>
		<meta charset="UTF-8">
  		<meta content="utf-8" http-equiv="encoding">  
		<title>Union Pacific Sleep Score App</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="styles/styles.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="styles/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script src="scripts/d3.min.js" charset="utf-8"></script>
		

		<script>
		  $(function() {
		    $( "#accordion" ).accordion({
		      heightStyle: "content",
		      collapsible: true,
		      active: false
		    });
		  });
		</script>
	</head>
	<body ng-controller="TotalController">
		<header>
			<h2 id="page-title">The Sleep Station</h2>
		</header>
		
			<div class="animate-hide" ng-hide="userSelected">
				Name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <select id="name-select" ng-model="CurrentUser.user" ng-options="employee as employee.name for employee in DataFactory" ng-click="changeUser()">
				    <option ng-repeat="employee in DataFactory" value="{{$index}}">{{employee.name}}</option>
				</select>  <br />
				Password: <input id="password-input" type="password"  ng-model="password"  value="password"/>
				<br />
				<button class="nav-buttons" type="submit" ng-click="checkPassword()">Login</button><br />
				
				<div id="wrongPassword">
				</div>
			</div>

		<div class="animate-hide animate-show" ng-show="userSelected">
			<!--<buttons></buttons>-->
			<div id="accordion">
				<h3>Fatigue Factor&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
    			<div class="accord-page">
    				<ng-include src="'views/calc.html'"></ng-include>
    			</div>
    			<h3>Alarm&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
    			<div class="accord-page">
    				<ng-include src="'views/alarm.html'"></ng-include>
    			</div>
    			<h3>User&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
    			<div class="accord-page">
    				<ng-include src="'views/user.html'"></ng-include>
    			</div>
				<h3>About&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
    			<div class="accord-page">
    				<ng-include src="'views/about.html'"></ng-include>
    			</div>
    			<h3>Log Out&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
    			<div class="accord-page">
    				<button class="nav-buttons" ng-click="logOut()">Log Out</button>
    			</div>
			</div>
		</div>
		
		<div id="blankArea">
			<img src="images/UPLogo.png" width="100px" height="100px" />
		</div>
	
	
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-animate.js"></script>
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
	<script src="scripts/app.js"></script>
	<!--script src="scripts/routeProvider.js"></script-->
	<script src="scripts/directives.js"></script>
	<script src="scripts/services/factories.js"></script>
	<script src="scripts/controllers/TotalController.js"></script>
	<script src="scripts/controllers/AboutController.js"></script>
	<script src="scripts/controllers/AlarmController.js"></script>
	<script src="scripts/controllers/UserController.js"></script>
	<script src="scripts/controllers/CalcController.js"></script>
	

</html>