<div ng-controller="AboutController">

<div style="text-indent: 30px">
    <p>This app should be used once daily to maintain an effective schedule and allow for easier analysis of job qualification.</p>
    <p>The Fatigue Figure calculated in this app helps to determine the ability for the user to work their upcoming shifts. 
    It is calculated by analyzing your previous 24 and 48 hours of sleep, including naps.</p>
    <p>If you have been unable to maintain an effective sleep schedule, regardless of the reason, it is unsafe for you to work.
     If your Fatigue Figure is high, an alert will be sent to your supervisor, requesting a change in your work schedule. If your
      Fatigue Figure is low, you will be free to continue your work as normal.
    </p>
    <p>This chart explains what each Fatigue Figure means in relation to your ability to work.</p><br />
</div>

<table id="aboutTable">
    <tr id="about-titles">
        <td>Score </td>
        <td>Risk</td>
        <td>Response/Actions</td></tr>
    <tr>
        <td>9 or more
        </td>
        <td>High
        </td>
        <td>Document externally, do not engage in any safety 
        critical work and do not recommence until fit for 
        work.
        </td>
    </tr>
    <tr>
        <td>5 - 8 </td>
        <td>Moderate </td>
        <td>Report to supervisor and document. Organise 
        supervisory checks. Complete symptom checklist 
        and task re-assignment.
        </td>
    </tr>
    <tr>
        <td>1 - 4</td>
        <td>Low</td>
        <td>Report to the supervisor and document. Undertake 
        approved individual control measures. Self-monitor 
        for symptoms, team monitoring by colleagues and 
        task rotation.
        </td>
    </tr>
        <td>0 </td>
        <td>n/a</td>
        <td>Remain with working existing arrangements unless 
        higher level hazards are present.</td>
    </tr>
</table>

</div>

