<div ng-controller="CalcController">
    <h3>User: {{CurrentUser.user.name}}</h3><br />
    Your next shift is:<br />
    
    <!--call some function here, if the dates of shift[0] have alreayd passed,
    remove it from the function and insted call the next one-->
    <ul>
        <li>Start time: {{Time.makeDate(CurrentUser.user.shifts[0].start)}} {{Time.makeTime(CurrentUser.user.shifts[0].start)}}</li>
        <li>End time: &nbsp&nbsp{{Time.makeDate(CurrentUser.user.shifts[0].end)}} {{Time.makeTime(CurrentUser.user.shifts[0].end)}}</li>
    </ul>
    
        Hours slept in last 24 hours (including naps): 
        <select ng-model="hour24">
        <option
                ng-repeat="x in hoursInADay track by $index"
                value="{{$index}}">
          {{$index}}
        </option>
        </select>
         <input class="nav-buttons" type="button" ng-click="calcRisk()" value="Calculate my fatigue factor" />
        
        
        <br />
        <div ng-show="showFatigueFactor">
            <p>This is the fatigue value: {{risk}}</p>
        </div>

    
    <input class="nav-buttons" type="button" ng-click="InitChart()" value="Generate Fatigue Factor Graph"/>
    <div id="graph-content" ng-show="showGraph">
        This is the graph:<br />
        <svg id="visualisation" width="300px" height="300px"></svg>
    </div>
    <br />
</div>