/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
 
div,block,h1,h2,h3,h4,h5,p,ul,li,section,textarea { /* perform CSS reset */
  margin: 0;
  padding: 0;
}

#nav-buttons {
	text-align: center;
	padding: 5px 0;
}

.group-buttons {
	width: 98%;
	margin: 0 1%;
	text-align: center;
}

#page-title {
	text-align: center;
	width: 100%;
}

.btn-primary {
	width: 33%;
	
}

.odd {
	background-color: blue;
}

.even {
	background-color: green;
}

#blankArea{
	text-align:center;
	position: relative;
}

.img{
	text-align: center;
	position: relative;
	
}