/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) { 
	::-webkit-scrollbar { 
	    display: none; 
	}
}
 
div,block,h1,h2,h3,h4,h5,p,ul,li,section,textarea { /* perform CSS reset */
  margin: 0;
  padding: 0;
}



/*
 * Home Page
 */

#name-select {
	width: 160px;
	margin: 5px 0;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

#password-input {
	line-height: 48%;
	margin: 5px 0;
	padding: 1px 3px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.nav-buttons {
	outline: 0;
	transition: background 0.5s ease;
	border: 1px solid #004199;
	margin: 5px 0;
	background: #00529b url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: white;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nav-buttons:hover {
	background-color: #458bc9;
}

.nav-buttons:active, .nav-buttons:focus {
	background: #9d9d9d url("images/ui-bg_glass_75_e6e6e6_1x400_pushed.png") 50% 50% repeat-x;
}

.nav-buttons[disabled] {
  background: #9d9d9d url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x !important;
}

/*
 * Inner Pages
 */

ul > li
{
    list-style-type: none;
    color: #00529b;
}

ul > li > div
{
    color: black;
}

.center-buttons {
  width: 100%;
  text-align: center;
}

#page-title {
	text-align: center;
	width: 100%;
	padding: 15px 0;
}

.accord-page {
	text-align: left;
}

.accord-page li {
  margin-left: 30px;
}

.group-buttons {
	width: 98%;
	margin: 0 1%;
	text-align: center;
}

.data-content {
  width: 100%;
  height: auto;
  margin-top: 5px;
  border: 2px solid #00529b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.data-title {
  text-align: left;
  color: white;
  height: 20px;
  width: 100%;
  padding: 1px 2px;
  background-color: #00529b;

}

.data-inner-content {
  width: 100%;
  padding: .5em .5em;
}

.btn-primary {
	width: 33%;
	
}

.odd {
  list-style-type: none;
  padding: 3px;
	width: 240px;
	height: auto;
	background-color: rgba(0, 82, 155, .2);
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.even {
  list-style-type: none;
  padding: 3px;
	width: 240px;
	height: auto;
}

#to-input {
  margin-left: 1px;
  position: relative;
}

#message-input {
  padding: 5px;
  display: inline-block;
}

.email-inputs {
	margin: 5px 0;
	padding: 0 3px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: 0;
}

#left-text {
  text-align: left;
  padding-bottom: 3px;
}

#blankArea{
	text-align:center;
	position: relative;
}

#graph-content {
  text-align: center;
  overflow: hidden;
}

#visualisation {
  background: -webkit-linear-gradient(rgba(176,0,0,.3), rgba(255,255,0,.3), rgba(0,176,0,.3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(176,0,0,.3), rgba(255,255,0,.3), rgba(0,176,0,.3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(176,0,0,.3), rgba(255,255,0,.3), rgba(0,176,0,.3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(176,0,0,.3), rgba(255,255,0,.3), rgba(0,176,0,.3)); /* Standard syntax */
}

.img{
	/*text-align: center;
	position: relative;*/
	
}

#aboutTable, #aboutTable th, #aboutTable td {
  text-align: center;
  padding: 1px;
  border: 1px solid #00529b;
  font-size: 95%;
}

#about-titles {
  background-color: #00529b;
  color: white;
  font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Arial';
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 2;
}

.bar {
    fill: FireBrick;
}
        
/*
 * Animations
 */

.animate-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    min-height: 200px;
    max-height: none;
    opacity:1;
    padding:10px;
    display: block;
    background:white;
    overflow: hidden;
  }

  .animate-hide.ng-hide {
    min-height:0px;
    max-height:0px;
    opacity:1;
    padding:0 10px;
  }
  
  
  
/*---------------Alarm Clock-----------------------------*/

#jsalarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 12px;
}

#jsalarmclock div{
margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 13px;
background-color: lightyellow;
clear: left;
}

#jsalarmclock span{
margin-right: 5px;
}

